<section class="container-nome">
  <div class="nomeUsuario">
    <img
      class="imagemusuario"
      src="./assets/fotodousuario.png"
      alt="Foto do usuário"
    />
    <p>{{ DadosUsuario.nome }}</p>
  </div>
</section>

<section *ngIf="DadosUsuario" class="dadosUsuario">
  <h1>Meus Dados</h1>
  <label for="nome">Nome:</label>
  <input
    type="text"
    id="nome"
    [(ngModel)]="DadosUsuario.nome"
    [disabled]="true"
  />

  <label for="cpf">CPF:</label>
  <input
    type="text"
    id="cpf"
    [(ngModel)]="DadosUsuario.cpf"
    [disabled]="true"
  />

  <label for="email">Email:</label>
  <input
    type="text"
    id="email"
    [(ngModel)]="DadosUsuario.email"
    [disabled]="true"
  />

  <label for="dataDeCriacao">Data de Criação:</label>
  <input
    type="text"
    id="dataDeCriacao"
    [(ngModel)]="DadosUsuario.dataDeCriacao"
    [disabled]="true"
  />

  <form [formGroup]="senhaForm" (ngSubmit)="Apagarconta()" style="color: #fff">
    <div>
      <label for="senha">Senha:</label>
      <input type="password" id="senha" formControlName="senha" />
      <!-- <div
        *ngIf="
          senhaForm.get('senha').errors?.required &&
          senhaForm.get('senha').touched
        "
      >
        Senha é obrigatória.
      </div> -->
    </div>
    <div *ngIf="deletionError" style="color: red">{{ deletionError }}</div>
    <div *ngIf="deletionSuccess" style="color: green">
      {{ deletionSuccess }}
    </div>
    <button type="submit" style="color: #fff">Apagar Conta</button>
  </form>
</section>
