<header>
  <a href="#inicio">
    <img
      src="../../../assets/seta.png"
      alt="botão para voltar a página anterior"
    />
  </a>
</header>

<div class="container-full">
  <section
    id="topo-cadastro"
    class="row ps-5"
    style="background-color: #3d3d3d; height: fit-content"
  ></section>
  <form
    [formGroup]="formulario"
    (submit)="cadastrar($event)"
    class="m-auto w-75 p-5 row row-gap-3 column-gap-4"
  >
    <p class="fs-4">
      Que tal batizarmos este momento como o ponto de partida para uma vida
      financeira mais tranquila? Bora?
    </p>

    <section class="col" *ngIf="etapa === 1">
      <app-dados-pessoais
        [formulario]="formulario"
        (proximaEtapaEvent)="proximaEtapa($event)"
      ></app-dados-pessoais>
    </section>

    <section class="col" *ngIf="etapa === 2">
      <app-endereco
        [formulario]="formulario"
        (proximaEtapaEvent)="etapaAnterior($event)"
        (concluirCadastro)="cadastrar($event)"
      ></app-endereco>
    </section>
  </form>

  <div
    class="modal fade"
    id="modalTermos"
    tabindex="-1"
    aria-labelledby="modalTermosLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTermosLabel">
            Termos e Política de privacidade
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Fechar"
          ></button>
        </div>
        <div class="modal-body">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta
            repellendus commodi assumenda labore eaque, sunt quas ullam, maiores
            quae, nostrum cupiditate earum consectetur sequi quia sapiente aut
            fuga maxime optio. Optio, non? Saepe maxime ipsum omnis numquam
            mollitia at, explicabo nostrum temporibus, aliquam, assumenda
            aspernatur magni eaque quia! Facilis minus tenetur vel illo,
            suscipit ratione voluptates excepturi quidem nulla. Dolores. Ex
            delectus, magni voluptatibus hic cupiditate facilis rem quos
            voluptatum excepturi. Officia, sunt dicta. Velit adipisci dolorem
            quo ut alias, in architecto nisi quibusdam inventore explicabo
            cupiditate repellendus est rem! Vel hic sit quas alias assumenda
            voluptate ad minima ipsam rem explicabo, dolorum esse tenetur vero
            est. Exercitationem placeat sunt et odio id eveniet dolorum, numquam
            doloribus accusamus harum aliquam? Voluptatibus, eaque. Fugiat
            deleniti debitis delectus tempora eius illo nostrum neque
            consequatur? Suscipit nihil reiciendis eius provident nemo, enim
            animi odio sint amet similique, ea quaerat voluptatem natus tempora
            laboriosam?
          </p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Fechar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
