:host {
  display: block;
}
.form-control,
.form-select {
  height: 5rem;
}

.container-full {
  background-color: #f2f2f2;
  height: max-content;
  font-size: 1.5rem;
}

#button-cep {
  background-color: #e89d00;
  color: #ffffff;
  
}
