* {
    background-color: black;
    font-weight: 200;
}

.saldo-section,
.icons-section,
.transaction-history {
    margin-bottom: 1em;
    margin-top: 1em;
}

section {
    border-bottom: 1px solid var(--primary-color);
    color: var(--secondary-color);

}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.user-detalhes img {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    margin-right: 2em;
    margin-top: 1em;
}

.logout img {
    width: 3em;
    height: auto;
    margin-left: 2em;
}

.saldo-section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 2em;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;

}


.olho-saldo {
    align-self: flex-end;
    width: 3em;
    height: auto;

}

.icons-section {
    display: flex;
    text-align: center;
    flex-wrap: wrap;


}

.icons-section .icon {
    flex: 0 0 calc(33.33% - 10px);
    margin-bottom: 20px;
    margin-top: 20px;

}

.icons-section .icon img {
    width: 6em;
    height: auto;

}
.icon-label{
    font-size: 2em;
}

.saida span {
    color: var(--cahsout-color);
    background-color: var(--header-color);
}

.entrada span {
    color: var(--cashin-color);
    background-color: var(--header-color);
}

h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


ul{

    background-color: var(--header-color);
    border-radius: 10px;
    margin: 0 auto;
    width: 90%;
    

}

.transaction-history ul li {
    background-color: var(--header-color);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    list-style-type: none;
    text-transform: uppercase;
    
}

.transaction-history img {
    background-color: var(--header-color);
    width: 30px;
    height: auto;
    margin-right: 2em;
    
}


.hidden {
    display: none;
  }