<main>
  <header>
    <div class="user-info">
      <div class="user-detalhes">
        <img src="./assets/fotodousuario.png" alt="Foto do usuário" />
        <p>Olá, {{ primeiroNome[0] }}.</p>
      </div>
      <div class="logout">
        <img
          src="./assets/user-circle-gear.svg"
          alt="Ícone de engrenagem"
          (click)="perfil()"
        />

        <img
          src="./assets/sign-out (1).svg"
          alt="icone de saida da página"
          (click)="sair()"
        />
      </div>
    </div>
  </header>

  <section>
    <div class="saldo-section">
      <div>
        <h3 class="saldo-label">SALDO DA CONTA CORRENTE</h3>
        <p class="saldo-amount" *ngIf="saldoVisivel">R$ {{ saldo }}</p>
        <p class="saldo-amount" *ngIf="!saldoVisivel">R$ ****</p>
      </div>
      <img
        *ngIf="olho"
        src="./assets/eye (1).svg"
        alt="Ícone de olho"
        class="olho-saldo"
        (click)="alternarSaldo()"
      />
      <img
        *ngIf="!olho"
        src="./assets/eye-closed (1).svg"
        alt="Ícone de olho"
        class="olho-saldo"
        (click)="alternarSaldo()"
      />
    </div>
  </section>
  <section class="container-trasacoes">
    <h2>Operações</h2>
    <section class="transacoes">
      <div class="transacoes-inputs">
        <p class="d-inline-flex gap-1">
          <a
            class="btn btn-primary"
            data-bs-toggle="collapse"
            href="#collapseSaque"
            role="button"
            aria-expanded="false"
            aria-controls="collapseSaque"
          >
            Saque
          </a>
        </p>
        <div class="collapse" id="collapseSaque">
          <div class="card card-body">
            <input type="text" placeholder="Valor" [(ngModel)]="valorSaque" />
            <p *ngIf="errorSaque" class="mensagem-erro" role="alert">
              Insira um valor.
            </p>
            <div class="text-center">
              <div *ngIf="carregandoSaque" class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
            <input type="button" value="Sacar" (click)="saque()" />
          </div>
        </div>
      </div>
      <div class="transacoes-inputs">
        <p class="d-inline-flex gap-1">
          <a
            class="btn btn-primary"
            data-bs-toggle="collapse"
            href="#collapseDeposito"
            role="button"
            aria-expanded="false"
            aria-controls="collapseDeposito"
          >
            Deposito
          </a>
        </p>
        <div class="collapse" id="collapseDeposito">
          <div class="card card-body">
            <input
              type="text"
              placeholder="Valor"
              [(ngModel)]="valorDeposito"
            />
            <p *ngIf="errorDeposito" class="mensagem-erro" role="alert">
              Insira um valor.
            </p>
            <div class="text-center">
              <div
                *ngIf="carregandoDeposito"
                class="spinner-border"
                role="status"
              >
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
            <input type="button" value="Depositar" (click)="depositar()" />
          </div>
        </div>
      </div>
      <div class="transacoes-inputs">
        <p class="d-inline-flex gap-1">
          <a
            class="btn btn-primary"
            data-bs-toggle="collapse"
            href="#collapseTranferir"
            role="button"
            aria-expanded="false"
            aria-controls="collapseTranferir"
          >
            Transferir
          </a>
        </p>
        <div class="collapse teste" id="collapseTranferir">
          <div class="card card-body">
            <input
              type="text"
              placeholder="Valor"
              [(ngModel)]="valorTranferencia"
            />

            <input
              type="text"
              placeholder="CPF da conta destino"
              [(ngModel)]="ContaDestino"
            />
            <input type="button" value="Transferir" (click)="transferir()" />
            <p *ngIf="cpfInvalido" class="mensagem-erro" role="alert">
              CPF Inválido
            </p>
            <div class="text-center">
              <div
                *ngIf="carregandoTransfe"
                class="spinner-border"
                role="status"
              >
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>

  <section class="transaction-history">
    <h2>Histórico de Transações</h2>
    <div class="btn-next">
      <figure>
        <img
          src="./assets/arrow-circle-left (1).svg"
          alt="seta para esquerda"
          (click)="etapaAnterior()"
        />
        <p>{{ etapa }}</p>
        <img
          src="./assets/arrow-circle-right.svg"
          alt="seta para direita"
          (click)="proximaetapa()"
        />
      </figure>
    </div>
    <table
      id="HTransações"
      class="table table-dark table-striped tabela-historico"
    >
      <thead>
        <tr>
          <th>Valor</th>
          <th>Destinatário</th>
          <th>Tipo de transação</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody *ngFor="let v of historicoDados">
        <td>{{ v.valor }}</td>
        <td>{{ v.cpfDestino ? v.cpfDestino : "Minha Conta " }}</td>
        <td>{{ v.tipoOperacao }}</td>
        <td>{{ v.dataOperacao }}</td>
      </tbody>
    </table>
  </section>
</main>
