<main>
  <header>
    <div class="user-info">
      <div class="user-detalhes">
        <img src="./assets/fotodousuario.png" alt="Foto do usuário" />
        <p>Olá, usuário.</p>
      </div>
      <div class="logout">
        <p (click)="sair()">sair</p>
        <img src="./assets/engrenagem.png" alt="Ícone de engrenagem" />
      </div>
    </div>
  </header>

  <section>
    <div class="saldo-section">
      <div>
        <h3 class="saldo-label">SALDO DA CONTA CORRENTE</h3>
        <p class="saldo-amount" *ngIf="saldoVisivel">R$ 1000,00</p>
        <p class="saldo-amount" *ngIf="!saldoVisivel">R$ ****</p>
      </div>
      <img
        *ngIf="olho"
        src="./assets/eye (1).svg"
        alt="Ícone de olho"
        class="olho-saldo"
        (click)="alternarSaldo()"
      />
      <img
        *ngIf="!olho"
        src="./assets/eye-closed (1).svg"
        alt="Ícone de olho"
        class="olho-saldo"
        (click)="alternarSaldo()"
      />
    </div>
  </section>
  <section class="icons-area">
    <div class="icons-section">
      <div class="icon">
        <img src="./assets/recibo.png" alt="Ícone recibo" />
        <div class="icon-label">Extrato</div>
      </div>
      <div class="icon">
        <img src="./assets/pix.png" alt="Ícone pix" />
        <div class="icon-label">Pix</div>
      </div>
      <div class="icon">
        <img src="./assets/codigo-de-barras.png" alt="Ícone codigo" />
        <div class="icon-label">Código de Barras</div>
      </div>
      <div class="icon">
        <img src="./assets/cofrinho.png" alt="Ícone cofrinho" />
        <div class="icon-label">Cofrinho</div>
      </div>
      <div class="icon">
        <img src="./assets/transferir.png" alt="Ícone transferir" />
        <div class="icon-label">Transferir</div>
      </div>
      <div class="icon">
        <img src="./assets/cartao.png" alt="Ícone cartao" />
        <div class="icon-label">Cartão</div>
      </div>
    </div>
  </section>

  <section>
    <div class="transaction-history">
      <h2>Histórico de Transações</h2>
      <ul>
        <li class="entrada">
          <img
            src="./assets/iconextratransf.png"
            alt="icone de transferencia"
          />
          <p>Transf. recebida de João -</p>
          <span>R$ 500,00</span>
        </li>
        <li class="saida">
          <img
            src="./assets/iconextratransf.png"
            alt="icone de transferencia"
          />
          <p>Pagamento de conta de luz - </p><span>R$ 100,00</span>
        </li>
        <li class="entrada">
          <img
            src="./assets/iconextratransf.png"
            alt="icone de transferencia"
          />
          <p>Compra online na loja X - </p><span>R$ 200,00</span>
        </li>
        <li class="entrada">
          <img
            src="./assets/iconextratransf.png"
            alt="icone de transferencia"
          />
          <p>Depósito em dinheiro - </p><span>R$ 300,00</span>
        </li>
        <li class="saida">
          <img
            src="./assets/iconextratransf.png"
            alt="icone de transferencia"
          />
          <p>Transferência para Maria - </p><span>R$ 150,00</span>
        </li>
        <li class="saida">
          <img
            src="./assets/iconextratransf.png"
            alt="icone de transferencia"
          />
          <p>Compra de mantimentos - </p><span>R$ 50,00</span>
        </li>
        <li class="entrada">
          <img
            src="./assets/iconextratransf.png"
            alt="icone de transferencia"
          />
          <p>Pagamento de salário - </p><span>R$ 1000,00</span>
        </li>
        <li class="saida">
          <img
            src="./assets/iconextratransf.png"
            alt="icone de transferencia"
          />
          <p>Pagamento de aluguel - </p><span>R$ 700,00</span>
        </li>
        <li class="entrada">
          <img
            src="./assets/iconextratransf.png"
            alt="icone de transferencia"
          />
          <p>Reembolso de despesas - </p><span>R$ 250,00</span>
        </li>
        <li class="saida">
          <img
            src="./assets/iconextratransf.png"
            alt="icone de transferencia"
          />
          <p>Compra de eletrônicos - </p><span>R$ 800,00</span>
        </li>
        <li class="entrada">
          <img
            src="./assets/iconextratransf.png"
            alt="icone de transferencia"
          />
          <p>Prêmio de loteria - </p><span>R$ 5000,00</span>
        </li>
      </ul>
    </div>
  </section>
</main>
