* {
  font-weight: 200;
  background-color: black;
}
main {
  background-color: black;
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.tabela-historico {
  border: 0.1rem solid var(--primary-color);
  max-width: 80%;
  margin: 20px auto;
}
.tabela-historico th {
  width: 25%;
  font-size: 1.7rem;
  font-weight: 500;
  text-align: center;
  border-left: 0.1rem solid #d9d9d9;
  border-right: 0.1rem solid #d9d9d9;
}
.tabela-historico td {
  width: 25%;
  max-width: fit-content;
  font-size: 1.6rem;
  text-align: center;
  border-left: 0.1rem solid #d9d9d9;
  border-bottom: 0.1rem solid var(--primary-color);
  border-right: 0.1rem solid #d9d9d9;
}
.saldo-section,
.icons-section,
.transaction-history {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.transaction-history > h2 {
  width: fit-content;
  margin: 3rem auto;
  border-bottom: 2px solid var(--primary-color);
}
.container-trasacoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-trasacoes > h2 {
  width: fit-content;
  align-self: center;
  border-bottom: 2px solid var(--primary-color);
  margin: 3rem auto;
}
.transaction-history {
    height: 100%;
}
.btn-next {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-next figure img {
  cursor: pointer;
  background-color: black;
  width: 4rem;
  margin: 1rem 2rem;
}
.btn-next figure {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-next p {
  margin: 0;
  font-size: 1.5rem;
}

.transacoes-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  margin-top: 3rem;
}
.border-operacoes {
  border: 0.1rem solid var(--primary-color);
  padding: 5px 5px;
  border-radius: 5px;
}

.transacoes {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  height: 23rem;
}
.transacoes a {
  font-size: 1.8rem;
  border: 0.1rem solid var(--primary-color);
  transition: background-color 0.5s ease-in-out;
  width: 5em;
}
.transacoes a:hover{
    background-color: #df7300;
}
.transacoes input {
  color: #fff !important;
  font-size: 1.8rem;
  font-weight: 400;
}
.transacoes input[type="button"] {
  background-color: var(--primary-color);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  text-transform: uppercase;
  transition: background-color 0.5s ease;
}
.transacoes input[type="button"]:hover {
  background-color: #df7300;
}

section {
  border-bottom: 1px solid var(--primary-color);
  color: var(--secondary-color);
}

header {
  color: var(--secondary-color);
  align-items: center;
  height: 20vh;
  border-bottom: 1px solid var(--primary-color);
}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  height: 100%;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.user-detalhes {
  display: flex;
  align-items: center;
  height: 10rem;
  justify-content: space-evenly;
  width: 20rem;
}

.user-detalhes img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.logout {
  display: flex;
}

.logout p {
  cursor: pointer;
  text-transform: uppercase;
  padding: 0.2rem;
  margin-right: 1rem;
}

.logout img {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  cursor: pointer;
}

.saldo-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 2rem;
  margin-top: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
  padding: 2rem 0rem;
}

.olho-saldo {
  align-self: center;
  width: 3.5rem;
  height: auto;
  cursor: pointer;
}

.icon img {
  cursor: pointer;
}

.icons-section {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

.icons-section .icon {
  flex: 0 0 calc(33.33% - 10px);
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.icons-section .icon img {
  width: 6em;
  height: 6em;
  margin-bottom: 5px;
}

.icon-label {
  font-size: 2rem;
}

.saida span {
  color: var(--cahsout-color);
  background-color: var(--header-color);
}
.entrada span {
  color: var(--cashin-color);
  background-color: var(--header-color);
}

h2 {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.hidden {
  display: none;
}
@media screen and (max-width: 700px){
    .tabela-historico th{
        text-align: center; 
        vertical-align: middle; 
      }
      .tabela-historico td{
        text-align: center; 
        vertical-align: middle;
      }
}
@media screen and (max-width: 435px) {
  .user-info {
    width: 100%;
    margin: 0px;
    font-size: 1.5rem;
  }
  .logout {
    display: flex;
  }

  .logout img {
    width: 3rem;
    height: 3rem;
    margin-right: 0;
  }

  .olho-saldo {
    align-self: center;
  }
  .icons-section {
    display: flex;
    justify-content: center;
  }
  .icons-section .icon img {
    width: 5em;
    height: 5em;
    margin-bottom: 2px;
  }

  .user-detalhes img {
    width: 6rem;
    height: 6rem;
    margin-bottom: 1rem;
  }

  .logout img {
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
  .logout img:first-child {
    margin-right: 1.8rem;
  }

  .saldo-section {
    font-size: 1.5rem;
    max-width: 100%;
    margin: 2rem 3rem;
  }

  .olho-saldo {
    width: 3rem;
  }

  .icon img {
    width: 4rem;
  }

  .icon-label {
    font-size: 1.5rem;
  }
  .container-trasacoes{
    max-width: 100%;
  }
  
  .tabela-historico{
    max-width: 95%;
  }
  .tabela-historico th{
    text-align: center; 
    vertical-align: middle; 
  }
  .tabela-historico td{
    text-align: center; 
    vertical-align: middle;
  }
  .btn-next figure img{
    width: 4.8em;
  }
}
