.container-inicio {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.container-inicio div {
  width: 58.4rem;
  height: 39.9rem;
}
.container-inicio p {
  font-size: 6.4rem;
}
.container-fim {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.container-fim figure {
  display: flex;
  width: 100%;
}
.container-fim img {
  width: 100%;
}
