<app-header class="Header"> </app-header>
<main>
  <section class="container-inicio">
    <div>
      <h1>
        A solução completa para suas transações financeiras, reunida em um único
        lugar.
      </h1>
    </div>
    <app-cartao class="cartao"></app-cartao>
  </section>

  <section class="container-fim">
    <figure>
      <img src="./assets/BannerHome.svg" alt="Banner com uma mulher loira mostrando o cartão pacpay" />
    </figure>
  </section>

  <section class="responsivo">
    <figure class="responsivo-img">
      <img src="./assets/LogoComNome.svg" alt="logomarca pacpay" />
    </figure>
    <div class="responsivo-buttons">
      <button class="bLogin" routerLink="/login">já tenho conta</button>
      <button class="bCriar" routerLink="/cadastro">criar conta</button>
    </div>
  </section>
</main>
<app-footer class="footer"></app-footer>
