:host {
  display: block;
}
.form-control {
  height: 5rem;
}

.container-full {
  background-color: #f2f2f2;
  height: max-content;
  font-size: 1.5rem;
}

.botaoDeAcao {
  border: none;
  border-bottom: 2px solid var(--primary-color);
  background-color: #f2f2f2;
}

@media screen and (max-width: 435px) {
  label {
    color: black;
  }
}
