.background-container {
  background-color: #ffffff;
  width: 1569px;
  height: 1220px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-bar {
  background-color: #ccc;
  width: 100%;
  height: 189px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.right-content {
  display: flex;
  align-items: center;
}

.right-content span {
  margin-right: 10px;
}

.btn-primary {
  background-color: #e89d00;
  height: 85px;
  width: 200px;
}

#botaoEntrar {
  background-color: #E89D00;
  height: 40px;
  width: 100%;
  margin-top: 10px;
}

#frase {
  margin-left: 170px;
}

#link-esqueceuSenha {
  margin-top: 10px;
  margin-left: 400px;
}

#link-cadastre-se {
  width: 100%;
}

.center-container {
  background-color: #F9F9F9;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  margin-top: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

footer {
  background-color: #25282c;
  padding: 20px 0;
  text-align: left;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 212px;
}

.frases-atendimento{
 color: #F9F9F9;
 padding-left: 30px;
 padding-top: 15px;
 font-family: Verdana, Geneva, Tahoma, sans-serif ;
 font-size: 20px;

}

#lista{
  text-align: center;
  color: #F9F9F9;
 
}
a{
  text-decoration: none;
  color: #F9F9F9;
  font-size: 20px;
 padding: 20px;

}