
.center-container {
  height: 519px;
  width: 542px;
  background-color: #F9F9F9; /* Adicione a cor de fundo desejada */
  margin: 50px auto; /* Centraliza vertical e horizontalmente */
  padding: 20px; 
}

.btn-primary {
  background-color: #e89d00;
  height: 85px;
  width: 200px;
}

#botaoEntrar {
  background-color: #E89D00;
  height: 40px;
  width: 100%;
  margin-top: 10px;
}

#frase {
  margin-left: 170px;
}

#link-esqueceuSenha {
  margin-top: 10px;
  margin-left: 400px;
}

#link-cadastre-se {
  width: 100%;
}
