main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.header-responsivo {
  display: none;
}
.center-container {
  font-family: var(--font-principal);
  width: 44rem;
  height: 44rem;
  background-color: #f9f9f9;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}
form {
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-logar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#Esqueceu {
  text-decoration: none;
}
.frase {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

form::placeholder {
  font-size: 1.6rem;
}
input {
  font-family: "Roboto Flex", sans-serif;
  font-size: 1.6rem;
}
p {
  font-size: 1.6rem;
  color: red;
  padding-left: 0.5rem;
  width: 100%;
}

.responsivo-img {
  display: none;
}

.form-control {
  width: 23rem;
  height: 4rem;
  margin: 0 auto;
  display: block;
  background-color: #ffffff;

  font-weight: 500;
}

#esqueceu-senha {
  font-size: 1.4rem;
  color: black;
  width: 100%;

  justify-content: center;
}

#cadastrar-login {
  font-size: 1.4rem;
  text-decoration: none;
  color: black;
  width: 100%;
  cursor: initial;
  display: flex;
  justify-content: flex-end;
  display: none;
}
#cadastrar-login span {
  text-decoration: underline;
  cursor: pointer;
}

#link-cadastrar-se {
  text-decoration: underline;
  margin-left: 5px;
  font-weight: bold;
}

#esqueceu-senha {
  text-decoration: underline;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

#link-cadastre-se {
  width: 100%;
}

#botaoEntrar {
  width: 23rem;
  height: 4rem;
  margin: 0 auto;
  display: block;
  background-color: #e89d00;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.6rem;
  border: #e89d00 solid;
}

@media screen and (max-width: 435px) {
  /* .center-container{
    display: none;
  } */

  .footer {
    display: none;
  }
  .header-responsivo {
    background-color: black;
    color: var(--secondary-color-1);
    display: flex;
    align-items: center;
    height: 9em;
    border-bottom: 0.1rem solid #aaa;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  header img {
    width: 5em;
    height: 5rem;
  }
  header a {
    margin-left: 3rem;
  }

  main {
    background-color: black;
    height: 100vh;
  }

  .Header {
    display: none;
  }
  .center-container {
    background-color: black;
    color: #ffffff;
    flex-direction: column;
    justify-content: space-evenly;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
  }
  .frase {
    height: 7rem;
  }
  .responsivo-img {
    width: 100%;

    display: flex;
    justify-content: center;
  }
  .responsivo-img img {
    width: 26.4rem;
    height: 10rem;
    filter: drop-shadow(0 4px 4px var(--header-color));
  }
  .frase {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #cadastrar-login {
    color: #fff;
    font-size: 1.6rem;
  }
  #esqueceu-senha {
    display: none;
  }
}
