.center-container {
  font-family: var(--font-principal);
  width: 440px;
  height: 470px;
  background-color: #f9f9f9; /* Adicione a cor de fundo desejada */
  margin: 50px auto; /* Centraliza vertical e horizontalmente */
  padding: 50px;
  font-size: 1.5rem;
}
#Esqueceu {
  text-decoration: none;
}
#frase {
  margin: auto 91px;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 2.5rem;
  padding-top: 10%;
}

.form-group {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 10px;
}

::placeholder {
  font-size: 1.3rem;
}

h4 {
  text-align: center;
  padding-bottom: 10px;
}

.form-control {
  width: 23rem;
  height: 4rem;
  margin: 0 auto;
  display: block;
  background-color: #ffffff;
  color: #ffffff;
  font-weight: 500;
}

#esqueceu-senha {
  font-size: 1.4rem;
  text-decoration: none;
  color: black;
  width: 86%;
  display: flex;
  justify-content: flex-end;
}

#cadastrar-login {
  font-size: 1.4rem;
  text-decoration: none;
  color: black;
  width: 86%;
  display: flex;
  justify-content: flex-end;
  margin-left: -15px;
}

#link-cadastrar-se {
  text-decoration: underline;
  margin-left: 5px;
  font-weight: bold;
}

#esqueceu-senha {
  text-decoration: underline;
  margin-left: -50px;
  font-weight: bold;
}

#link-esqueceuSenha {
  margin-top: 10px;
  margin-left: 80px;
}

#link-cadastre-se {
  width: 100%;
}

#botaoEntrar {
  width: 23rem;
  height: 4rem;
  margin: 0 auto;
  display: block;
  background-color: #e89d00;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.3rem;
  border: #e89d00 solid;
}

@media (max-width: 415px) {
  /* .center-container{
    display: none;
  } */

  .footer {
    display: none;
  }

  main {
    height: 500px;
    width: 500px;
    background-color: black;
  }

  .header {
    display: none;
  }
}
