<app-header class="Header"> </app-header>
<header class="header-responsivo">
  <a routerLink="/inicio">
    <img
      src="../../../assets/seta.png"
      alt="botão para voltar a página anterior"
    />
  </a>
</header>
<main>
  <section class="center-container">
    <figure class="responsivo-img">
      <img src="./assets/LogoComNome.svg" alt="" />
    </figure>

    <form [formGroup]="formulario" (submit)="autenticar()">
      <h1 class="frase">Acesse Sua Conta</h1>

      <div class="input-group mb-3">
        <input
          type="text"
          formControlName="cpf"
          class="form-control form-control-lg"
          id="emailLogin"
          placeholder="Informe seu CPF"
          aria-label="Username"
          aria-describedby="basic-addon1"
          class="form-control"
        />
      </div>

      <div class="input-group mb-3">
        <input
          type="password"
          formControlName="senha"
          class="form-control form-control-lg"
          id="senhaLogin"
          placeholder="Senha"
          class="form-control"
        />
        <p *ngIf="senhaIncorreta" class="mensagem-erro" role="alert">
          Senha ou e-mail incorreto. Tente novamente.
        </p>
        <!-- <div class="text-center">
          <div *ngIf="carregando" class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div> -->
      </div>
      <div class="esqueceu-senha">
        <button
          type="button"
          class="btn btn-link"
          id="esqueceu-senha"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Esqueceu sua senha?
        </button>
      </div>

      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1
                class="modal-title fs-5 custom-font-size"
                id="exampleModalLabel"
              >
                Redefinir senha
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="mb-3 input-redefinir-senha">
                <label for="exampleInputEmail1" class="form-label"
                  >Email para redifinição:</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                />
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-primary font-button"
                data-bs-dismiss="modal"
              >
                Enviar redifinição de senha
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="container-logar">
        <button
          type="submit"
          class="btn btn-success"
          id="botaoEntrar"
          [disabled]="formulario.invalid"
        >
          Entrar
        </button>

        <button type="button" class="btn btn-link" id="cadastrar-login">
          Não tem uma conta? <span routerLink="/cadastro"> Cadastre-se.</span>
        </button>
      </div>
    </form>
  </section>
</main>
<app-footer class="footer"></app-footer>
