*{
    text-decoration: none;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--footer-color);
  height: 11.4em;
  color: var(--secondary-color);
  font-family: var(--font-principal);
  font-size: 2em;
  font-weight: 600;
}
.copy{
    color: white;
    text-align: center;
}
.container{
  display: flex;
  justify-content: space-between;
  
}
.left, .middle{
 text-align: center;
  
}
.right {
  text-align: center;
}

.right img{
  width: 1.9em; 
  height: auto; 
  margin-right: 10px;   
}
.right .logo{
  width: 4em; 
  height: auto; 
  align-items: center;
}



