footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--footer-color);
  height: 20rem;
  color: var(--secondary-color);
  font-size: 2rem;
  font-family: var(--font-principal);
  font-weight: 600;
  width: 100vw;
  padding-left: 1rem;
  padding-right: 1rem;
}
.copy {
  color: white;
  text-align: center;
}

.left,
.middle,.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 33.3%;
}
.middle p {
  cursor: pointer;
}
.right-icones {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.right-icones p {
  text-align: center;
}
.right-icones-img {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.right img {
  width: 1.9rem;
}
.right .logo {
  align-items: center;
  width: 3em;
  height: calc(3em * 1.2);
}

.copy {
    display: inline-block;
    background-image: linear-gradient(90deg, #e89d00, white, #e89d00); 
    color: transparent; 
    background-size: 200% 100%;
    background-clip: text;
    animation: wave 5s linear infinite;
    -webkit-background-clip: text;
  }
  
  @keyframes wave {
    100% {
      background-position: -1%;
    }
    50% {
      background-position: 50%; 
    }
    0% {
      background-position: 200%; 
    }
  }
  
@media screen and (max-width: 800px) {
    footer {
      font-size: 1.5rem;
    }
  }