<footer>
  <div class="left">
    <p>Fale conosco</p>
    <p>Atendimento 24 horas por dia, 7 dias por semana!</p>
    <br />
    <p class="copy">by Pac#Man © 2024</p>
  </div>

  <div class="middle">
    <p>Termos de Serviços</p>
    <p>Dúvidas Frequentes</p>
    <p>Sobre</p>
  </div>

  <figure class="right">
    <img
      src="./assets/Logocomnomeemcima.png"
      alt="Logo com nome em cima"
      class="logo"
    />
    <div class="right-icones">
      <p>Nos acompanhe nas redes sociais</p>
      <div class="right-icones-img">
        <a href="#"
          ><img src="./assets/instagram.png" alt="Logo Instagram"
        /></a>
        <a href="#"><img src="./assets/facebook.png" alt="Logo Facebook" /></a>
        <a href="#"><img src="./assets/twitter.png" alt="Logo Twitter" /></a>
      </div>
    </div>
  </figure>
</footer>
