:root{
  --primary-color:#E89D00;
  --secondary-color:#ffffff;
  --secondary-color-2:#000000;
  --header-color:#3D3D3D;
  --footer-color:#111111;
  --cashin-color:#00FD00;
  --cahsout-color:#FF0000;
  --font-principal:'Encode Sans Semi Condensed', sans-serif;


}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-principal);
}
html {
  font-size: 62.5%;
  /* Para usar rem ex:
  1.6 rem = 16px
  2.0 rem = 20px
  */
}
