<div
  #card
  class="container1"
  (mousemove)="cardEffect($event)"
  (mouseleave)="cardBack()"
  (mouseenter)="cardEnter()"
>
  <section class="container">
    <div class="content">
      <div class="header">
        <figure class="box-img">
          <img src="./assets/mastercard_logo.png" alt="mastercard" />
          <img src="./assets/chip.png" alt="chip" />
        </figure>
      </div>
      <figure class="footer">
        <img src="./assets/LogoComNome.svg" alt="Cartão" />
      </figure>
    </div>
  </section>
</div>
